.container {
    position: relative;
    margin-bottom: 5px; /* Отступ блока статьи от блока подвала */
    width: 676px; /* Ширина статьи */
    padding: 10px; /* Отступ текста от краёв блока */
    background: #ecf7f6;/* Фон статьи */
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.5) 0px 1px 3px;
}